.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color:gray;
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.36);
}

.body{
    background-color: darkgreen;
    width: 80%;
    margin: 100px auto auto auto;
    padding: 20px;
    height: 1000px;

}
.footer{
    background-color: aqua;
    width: 100%;
    height: 100px;
    padding:20px;
    position: absolute;
    left:0;

}